.message-page{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 1vw;
    background-color: #e7eef1;
    height: 94vh;
}

.media-stack{
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.messsage-large-container{
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 60% !important;
    height: 100%;
}

.message-container{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

.message-container::-webkit-scrollbar {
    width: 0px; 
    height: 0px; 
}


.sent-msg{
    max-width: 70%;
    background-color:white;
    align-self: flex-end;
    padding: 0.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 0.8vw;
    border-radius: 0.5vw;
}


.received-msg{
    max-width: 70%;
    background-color:#c8ebfa;
    align-self: flex-start;
    padding: 0.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 0.8vw;
    border-radius: 0.5vw;
}

.textarea-msg-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text-area-formcontrol{
    flex-grow: 1;
    max-height: 5vw;
    padding: 0.5vw;
    padding-left: 1vw;
    border-radius: 2vw;
}

.text-area-formcontrol::-webkit-scrollbar {
    width: 0px; 
    height: 0px; 
}

.file-link{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}