.robot_nav{
    align-items: center !important;
    color: white;
}

.star_icon, .send_icon{
    color:rgb(110, 55, 241) !important;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    margin-right: 0.5vh;

}

.power_button{
    background-color: transparent !important;
    border: none !important;
    color: white;
    font-size: x-small !important;
}

.robot_intro{
    font-size: small;
    color: white;
    width: 60% !important;
}


.text_div{
    width: 100% !important;
    display: flex;
    border-radius: 1vh;
    flex-direction: row; 
    align-items: center;
    background-color: rgb(28, 28, 39) !important;
    border: 0.1vh solid rgb(68, 80, 96) !important;
}

.verify_panel{
    display: flex;
    align-items: center !important;
}

.verify_icon{
    color: white;
    font-size: small;
    margin: 0% !important;
}

.verify_text{
    color: white;
    font-size: x-small;
    margin: 0 !important;
}

.assistant_text{
    color:white !important;
    border: none !important;
    margin-bottom: 0 !important;
    background-color: transparent !important;
}

.assistant_text:focus{
    box-shadow: none !important;
    outline: none !important;
    border-color: inherit;
}