.channel-page{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 1vw;
    background-color: #e7eef1;
    height: 94vh;
}

.small-container{
    width: 20% !important;
    height: 100% !important;
    background-color:white ;
    border-radius: 0.7vw;
    padding: 0.5vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.large-container{
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 60% !important;
    height: 100%;
}

.homepage-channel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    flex-grow: 1;
}

.channel-posts{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 1vw;
}

.channel-posts::-webkit-scrollbar{
   display: none;
}


.post-block{
    background-color: white;
    padding: 1vw;
    margin-bottom: 1vw;
}

.reply-block{
    background-color: white;
}

.channel-button{
    width: 90%;
    border-radius: 2vw;
    background-color: #f86714;
    border-color: #f86714;
    font-weight: bold;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 0.5vw;
}

.logout-button{
    background-color: #f86714;
    border-color: #f86714;
    font-weight: bold !important;
}

.channel-button:hover, .logout-button:hover{
    background-color: #fc0380;
    border-color: #fc0380;   
}

.title_stack{
    width: 100%;
    justify-content: center !important;
    font-weight: bold;
    font-size: 1vw;
}

.channel-form-button{
    margin-top: 1vw;
    width: 100%;
    background-color: #18bba5;
    border-color: #22b6a2;
    font-weight: bolder !important;
}

.channel-form-button:hover{
    border-color: #22b6a2;
    background-color: transparent;
    color: #22b6a2;
}

.channel-list{
    width: 100% !important;
    margin-top: 0.5vw;
    font-weight: bold;

}

.channel-item{
    border: none;
    padding-bottom: 0.5vw;
    display: flex;
    flex-direction: row;
}

.channel-item:hover, .message-item:hover{
    cursor: pointer;
    background-color: #c4eee8;
}

.profile-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #e7eef1;
    padding: 1vw;
    border-radius: 0.5vw;
}

.info-stack{
    justify-content: space-around !important;
    margin-top: 1vw;
}

.info-block{
    align-items: center;
}

.profile-button{
    margin-top: 1vw;
    width: 90%;
    background-color:  #22b6a2;
    border-color:  #22b6a2;
    border-radius: 1vw;
    font-weight: bold;
}

.profile-button:hover{
    background-color:  #22b6a2;
    border-color:  #22b6a2;
    transform: scale(1.05);
}

.message-list-block{
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 1vw;
}

.message-item{
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    padding-top: 1vw;
    border: none;
}

.new-post-block{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.new-post-button{
    background-color: #fc0380;
    border-color: #fc0380;
    font-weight: bold;
}


.new-post-button:hover{
    background-color: transparent;
    border-color: #fc0380;
    color: #fc0380;
}



.post-form-group{
    width: 100%;
    margin-top: 1vw;
}

.view-profile-button{
    font-size: small;
    font-weight: bold;
    margin: 0;
}

.file-group{
    display:flex;
    flex-direction: row;
    align-items:center;
}

.file-popover{
    width:15vw;
    padding:0.5vw;
}

.view-profile-button:hover{
    cursor: pointer;
    color: #fc0380;
}

.profile-canvas-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.canvas-img{
    width: 30%;
    margin-bottom: 0.5vw;
}

.social-media-img{
    width: 2vw;
}

.history-list{
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;
}

.activity-list-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.activity-list-item:hover{
    cursor: pointer;
    background-color: #c4eee8;
}

.send-message-button{
    background-color: #18bba5;
    border-color: #18bba5;
    font-weight: bold;
}

.send-message-button:hover{
    background-color: #18bba5;
    border-color: #18bba5;
    font-weight: bold;
    transform: scale(1.05);
}

.message-header{
    display: flex;
    flex-direction: row;
}



.textarea-stack{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.textarea-block{
    max-height: 6vw;
    min-height: 2vw;
    margin: 0.5vw;
    border-radius: 0.5vw;
    width: 100%;
    background-color: #dff3fc;
    padding-left: 1vw;
    border: none;
}

.tooltip-text{
    margin-bottom: 0.5vw;
    font-weight: bold;
}

.tooltip-text:hover{
   transform: scale(1.05);
}

.warning-button , .warning-button:hover{
    margin-top: 1vw;
    width: 100%;
    background-color: red;
    border-color: red;
    font-weight: bolder !important;  
}