{%load static%}
<!DOCTYPE html>
<head>
    <title> Home page </title>
    <link rel="stylesheet" type="text/css" href="{% static 'datagenisys/css/home_page.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div class="to-top">
        <a href="#nav-bar">
            <span class="material-symbols-outlined" style="font-size:2vw">arrow_upward</span>
        </a>
    </div>
    <div class = "main-body">
        <div id="nav-bar">
            <a class="links" href="#dataset-information"> Dataset information</a>
            <a class="links" href="#overview-container"> Dataset Overview </a>
            <a class="links" href="#post-cleanup-overview" > Graphs </a>
            <a class="links" href="#model-container" > Predictive Model</a>
        </div>
        <div class ="home-container">
            <div class="title-container">
                <h1 class="title">
                    <span REFL-LETTER="D" class="letter">D</span>
                    <span REFL-LETTER="A" class="letter">A</span>
                    <span REFL-LETTER="T" class="letter">T</span>
                    <span REFL-LETTER="A" class="letter">A</span>
                    <span class="space"> </span>
                    <span REFL-LETTER="P" class="letter">P</span>
                    <span REFL-LETTER="R" class="letter">R</span>
                    <span REFL-LETTER="E" class="letter">E</span>
                    <span REFL-LETTER="D" class="letter">D</span>
                    <span REFL-LETTER="I" class="letter">I</span>
                    <span REFL-LETTER="C" class="letter">C</span>
                    <span REFL-LETTER="T" class="letter">T</span>
                    <span REFL-LETTER="I" class="letter">I</span>
                    <span REFL-LETTER="F" class="letter">F</span>
                    <span REFL-LETTER="Y" class="letter">Y</span>
                </h1>
            </div>
        </div>
        <div id="overlapping-content">
            <div class="block-conatiner">
                <div class="step-blocks">
                    <span class="material-symbols-outlined" style="font-size:2.5vw">query_stats</span>
                    <p>Pre-processing</p>
                </div>
                <div class="step-blocks" style="background:#edaa0c" >
                    <span class="material-symbols-outlined" style="font-size:2.5vw">bar_chart</span>
                    <p>Visualization </p>
                </div>
                <div class="step-blocks">
                    <span class="material-symbols-outlined" style="font-size:2.5vw">automation</span>
                    <p>Predictive Model</p>
                </div>
            </div>
            <div class="about-us">
                <div class="info-block">
                    <H1>Welcome to Data Predictify </H1>
                    <p> 
                        A data science project where I am applying the skills I’ve developed as 
                        a computer science student to build predictive models using Kaggle’s 
                        Alzheimer’s Disease Dataset.</br>
                        The goal of this project is to analyze the dataset, apply machine learning 
                        techniques, and build models that predict the progression of Alzheimer’s disease. 
                        Throughout the process, I focus on key aspects such as data preprocessing, 
                        feature engineering, model selection, and performance evaluation to generate meaningful insights.</br>
                        I invite you to explore the results of this project and follow my journey as I 
                        continue to expand my expertise in data science and machine learning.
                    </p>
                </div>
            </div>
        </div>
        <div id="dataset-information">
            <H1>Dataset Information</H1>
            <p style="width:70%">
                For this project, I have utilized the <strong>Alzheimer's Disease Dataset</strong>, 
                which was sourced from Kaggle. This dataset provides a comprehensive collection 
                of health-related data for 2,149 patients, with unique Patient IDs. It encompasses a wide 
                range of information, including demographic details, lifestyle factors, medical history, 
                clinical measurements, cognitive and functional assessments, symptoms, and Alzheimer's Disease diagnosis.</br> 
                I would like to acknowledge and thank the creator(s) of this dataset for making it publicly available 
                and accessible for research purposes.</br>
                Below is the citation for the Alzheimer's Disease Dataset.</br>
                <div class="citation">
                    @misc{rabie_el_kharoua_2024,</br>
                        title={Alzheimer's Disease Dataset},</br>
                        url={https://www.kaggle.com/dsv/8668279},</br>
                        DOI={10.34740/KAGGLE/DSV/8668279},</br>
                        publisher={Kaggle},</br>
                        author={Rabie El Kharoua},</br>
                        year={2024}</br>
                    }
                </div>
            </p>
        </div>
        <div id="overview-container">
            <div class="{% if not got_data or false_target %}initial-overview{%else%}overview{% endif %}">
                {% if false_target %}
                    <p id="overview-text"> The dataset does not contain the target variable you provided. Please check and try again.
                    <br>Note that the target variable name is case sensitive.</p>
                {% elif not got_data %}
                    <p id="overview-text">Dataset overview will be displayed here after you upload your Dataset and specify the Target variable.</p>
                {% else %}
                    <H1>Pre-Processing Data Snapshot</H1>
                    <p>This table provides an overview of the dataset you have uploaded. It includes the following details for each column:</p>
                    <ul>
                        <li>Column Name: The name of the column in the dataset.</li>
                        <li>Data Type: The type of data stored in the column (e.g., integer, float, object).</li>
                        <li>Number of Invalid Values: The count of missing or invalid values in the column.</li>
                    </ul>
                        This information is crucial for building and validating the prediction model. 
                        By understanding the structure and quality of your dataset, we ensure the accuracy and 
                        reliability of the predictions generated by our model. 
                    </p>                    
                    <table border="1">
                        <thead>
                            <tr>
                                <th id="table-cell">Column</th>
                                <th id="table-cell">Data Type</th>
                                <th id="table-cell"> No. of invalid values</th>
            
                            </tr>
                        </thead>
                        <tbody>
                            {% for col, dtype,null_values in data_initial_info %}
                                <tr>
                                    <td id="table-cell">{{ col }}</td>
                                    <td id="table-cell">{{ dtype }}</td>
                                    <td id="table-cell">{{null_values}}</td>
                                </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
        <div id="post-cleanup-overview">
            <div class="{% if not got_data or false_target %}initial-overview{%else%}overview {% endif %}">
                {% if false_target %}
                    <p id="overview-text"> The dataset does not contain the target variable you provided. Please check and try again.
                    <br>Note that the target variable name is case sensitive.</p>
                {% elif not got_data %}
                    <p id="overview-text">Post-Cleanup dataset overview with graphs will be displayed here after you upload your Dataset and specify the Target variable.</p>
                {% else %}
                    <H1>Post-Cleanup Dataset Overview </H1>
                    <p>We have successfully cleaned the dataset you uploaded. Below is an overview of the cleaned dataset.
                        This information is crucial for building and validating the prediction model, ensuring the accuracy and reliability of the results.
                        The following steps were taken to prepare the data for accurate and reliable predictions:
                    </p>
                    <ul>
                        {% for cleaning_step in data_cleaning_steps %}
                        <li> {{cleaning_step}} </li> 
                        {% endfor %}
                    </ul>
                    <table border="1">
                        <thead>
                            <tr>
                                <th id="table-cell">Column</th>
                                <th id="table-cell">Data Type</th>
                                <th id="table-cell"> No. of invalid values</th>
                                <th id="table-cell">Show graphs</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for col, dtype,null_values in cleaned_dataset %}
                                <tr>
                                    <td id="table-cell">{{ col }}</td>
                                    <td id="table-cell">{{ dtype }}</td>
                                    <td id="table-cell">{{null_values}}</td>
                                    <td >
                                        <button class="graph-button" data-column="{{ col }}">See Graphs</button>
                                    </td>
                                </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="graph-container" style="display: none;">
                        <button class="graph-close-button">X</button>
                        <div class="graphs-info"></div>
                        <div class="all-graphs"></div>
                    </div>
                    <script>
                        $(document).ready(function() {
                            $('.graph-button').click(function() {
                                var button = $(this);
                                var column = $(this).data('column');
                                var spinner = $('<span class="material-symbols-outlined" id="spinner">progress_activity</span>'); 
                                button.html(spinner);
                                $.ajax({
                                    url: '{% url "get_graphs" %}',
                                    type: 'POST',
                                    data: {
                                        'column': column,
                                        'df_json': '{{ df_json|escapejs }}',
                                        'Numeric_categorical_columns': '{{ Numeric_categorical_columns|escapejs }}',
                                        'target_variable': '{{target_variable}}',
                                        'correlation_dict':'{{ correlation_dict|escapejs }}',
                                        'csrfmiddlewaretoken': '{{ csrf_token }}' // CSRF token for security
                                    },
                                    success: function(response) {
                                        var graphsHtml1 = '<h2>Graphs for column ' + response.column + '</h2>';
                                        var graphsHtml2 = '';
                                        response.graphs_url.forEach(function(url) {
                                                graphsHtml2 += '<img src="' + url + '" alt="Graph">';});
                
                                        $('.graphs-info').html(graphsHtml1);
                                        $('.all-graphs').html(graphsHtml2);
                                        $('.graph-container').show();
                                        button.html("See Graphs");
                                    },
                                    error: function() {
                                        alert('An error occurred while fetching the graphs.');
                                        button.html("See Graphs");
                                    }
                                });
                            });
                
                            $('.graph-close-button').click(function() {
                                $('.graph-container').hide();
                            });
                        });
                    </script>  
                {% endif %}
            </div>
        </div>
        <div id="model-container">
            <div class="predictive-model">
                <div class="model-info">
                    <span class="material-symbols-outlined" style="font-size:8vw">model_training</span>
                    <H2>Unleashing the Power of Your Data</H2>
                    <p>Enter the required features or adjust existing data, submit it, and receive predictions for the target variable.</p>
                </div>
                <div class="input-form">
                    {% if false_target or not got_data  %}
                        <H2>Predictive Model will appear here</H2>
                    {% else %}
                        <form method="POST" enctype="multipart/form-data" action="{% url 'get_prediction' %}">
                            {% csrf_token %}
                                <H2>Enter required features</H2>
                                {% for col, dtype,null_values in cleaned_dataset %}
                                    {% if col != target_variable%}
                                        {{col}},
                                    {% endif %}
                                {% endfor %}
                                <br>
                                <input type="text" name="independent_cols"  class="text-box feature-text-box" placeholder="feature1, feature2,...." required>
                                <input type="hidden" name="target_variable" value="{{ target_variable }}">
                                <input type="hidden" name="encoded_df_js" value="{{encoded_df_js}}">
                                <input type="hidden" name="data_encoding_map_js" value="{{ data_encoding_map_js}}">
                                <input type="submit" value="Submit" class="form-button input-submit"> 
                        </form>
                        
                        <p class="input_display"></p>
                        <H2 class="prediction_value">{{ target_variable }} : </H2>
                        <p class="message"></p>
                        <script>
                            $(document).ready(function() {
                                $('form').on('submit', function(e) {
                                    e.preventDefault();
                                    var prediction_spinner = $('.prediction_value')
                                    var spinner = $('<span class="material-symbols-outlined" id="spinner">progress_activity</span>'); 
                                    prediction_spinner.html('{{ target_variable }} : Training the models... ').append(spinner);
                                $.ajax({
                                    url: '{% url "get_prediction" %}',
                                    type: 'POST',
                                    headers: {
                                        'X-CSRFToken': '{{ csrf_token }}'
                                    },
                                    data: $(this).serialize(),
                                    success: function(response) {
                                        console.log(response);
                                        features_html = '<H3>Provided features</H3><br>'
                                        var input_features = JSON.parse(response.input_values);
                                        for (var key in input_features) {
                                            if (input_features.hasOwnProperty(key)) {
                                                features_html += key + ' : ' + input_features[key]+', ';
                                            }
                                        }
                                        features_html += 'and {{ target_variable}} is';
                                        $('input[name="independent_cols"]').val('');
                                        $('.prediction_value').text('{{ target_variable }} : '+response.prediction);
                                        $('.input_display').html(features_html);
                                        $('.message').html('<a class=model_link href="#trained_models">'+
                                            'Checkout the trained models<span class="material-symbols-outlined">arrow_downward</span></a>');
                                        var trained_models_info = ' <H1>Trained Machine Learning Models</H1>';
                                        trained_models_info += ' <p>We have successfully trained Machine Learning models. '+
                                            'Below table represets an overview of the trained machine learning models '+
                                            'and their performance metrics, focusing on the best hyperparameters and '+
                                            'accuracy of each model. These results are key for understanding '+
                                            'the effectiveness of the models and for selecting the most appropriate '+
                                            'model for making reliable predictions.</p> ';
                                        trained_models_info +=  '<ul>'+
                                                                    '<li> Hyperparameters - The external settings that you manually define '+ 
                                                                        'before training the model. These control how the learning '+ 
                                                                        'process works and are adjusted to improve model performance.'+ 
                                                                    '</li>'+ 
                                                                    '<li>'+ 
                                                                        'Accuracy - Accuracy is the proportion of correctly predicted '+ 
                                                                        'instances out of the total number of predictions made by the model. '+ 
                                                                        'It gives you an overall measure of how well the model is '+ 
                                                                        'performing on the test set.'+ 
                                                                    '</li>'+ 
                                                                '</ul>';
                                        var trained_model_array = JSON.parse(response.trained_model_array);
                                        trained_models_info += '<table border="1">' +
                                                                    '<thead>' +
                                                                        '<tr>' +
                                                                            '<th>Trained Model</th>' +
                                                                            '<th>Parameters</th>' +
                                                                            '<th>Accuracy</th>' +
                                                                        '</tr>' +
                                                                    '</thead>' +
                                                                    '<tbody>';
                                        for (var i = 0; i < trained_model_array.length; i++) {
                                            trained_models_info += '<tr>';
                                            trained_models_info += '<td>' + trained_model_array[i][0] + '</td>'; // Model name
                                            trained_models_info += '<td>' + JSON.stringify(trained_model_array[i][2]) + '</td>'; // Hyperparameters
                                            trained_models_info += '<td>' + trained_model_array[i][1] + '</td>'; // Accuracy
                                            trained_models_info += '</tr>';
                                        }
                                        trained_models_info += '</tbody></table>';
                                        $('#trained_models').html(trained_models_info);                
                                    },
                                    error: function() {
                                        spinner.remove();
                                        $('input[name="independent_cols"]').val('');
                                        alert('An error occurred while predicting the dependent feature');
                                    }
                                });
                            });
                        });
                        </script>  
                    </div>
                    {% endif%}
                </div>
            </div>   
        </div>
        <div id="trained_models"></div>
        
</body> 